@tailwind base;
@tailwind components;
@tailwind utilities;

.font-size-40px {
  font-size: 40px;
}
.Header {
  margin-left: calc(1450px - 1310px);
  height: 48px;
  width: 1310px;
}
.default-p {
  color: #777e90;
  font-weight: 400;
}
.first-on-page {
  padding-top: 74px;
}
a,
input {
  outline: none;
}
